{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <div class="row my-4">
    <div class="col-sm-4">
      <img src="{% static '/todo1.jpg' %}" alt="" class="rounded img-thumbnail">
    </div>
    <div class="col-sm-4">
      <img src="{% static '/todo2.jpg' %}" alt="" class="img-thumbnail rounded">
    </div>
    <div class="col-sm-4">
      <img src="{% static '/todo3.jpg' %}" alt="" class="img-thumbnail rounded">
    </div>
  </div>
  <div class="text-center">
    <h2 class="text-primary h-font">Quik And Easy To Use, Anytime, Anywhere!</h2>
    <h3>"Plan Your Day Better, Get Your Life Organized."</h3>
    <p class="text-muted">Muta Lets You Keep Track Of Your Task In One Place.</p>
    <a class="btn btn-primary" href="{% url 'user_signup' %}" role="button">Let's Get Started</a>

  </div>
  
</div>
{% endblock %}